<!DOCTYPE html>
<html lang="pt_br"><!-- lang é um atributo -->
<head>
    <meta charset="UTF-8"><!-- atributo especifico de pagina (configuração do doc)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img src="/images/proffy.png" alt="Proffy">
            <h2>Sua plataforma de estudos onlie</h2>
        </div>

        <img class="hero-image" src="images/Ilustra.png" alt="plataforma de estudos">

       <div class="buttons-container">
           <a class="study" href="/study">
                <img src="images/Group 10.svg" alt="Estudar">
                Estudar
        </a>
        <a class="give-classes" href="/give-classes">
            <img src="images/Vector.svg" alt="Dar aulas">
            Dar aulas
    </a>
       </div>

       <p class="total-connections">
           Total de 200 conexões já realizadas
           <img src="/images/Emoji.svg" alt="Coração roxo">
       </p>
    </div>
    
</body>
</html>